.main {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.main__title {
  font-size: 54px;
  font-weight: bold;
  max-width: 830px;
  max-height: 173.92px;
  line-height: 1;
  margin: 0;
}
.main__paragraph {
    font-size: 32px;
    max-width: 738px;
    max-height: 135.66px;
    line-height: 34px;
    margin-top: 36px;
    margin-bottom: 0;
}

.main__paragraph_author {
    text-align: right;
    max-width: 732px;
    max-height: 33.91px;
    margin-top: 0;
}

.main__description {
    font-size: 16px;
    max-width: 722px;
    max-height: 181.54px;
    line-height: 163%;
    margin-top: 30px;
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .main__title {
        max-width: 707px;
        max-height: 147px;
        font-size: 45px;
        line-height: 1;
    }
    .main__paragraph {
        font-size: 24px;
    }
}

@media screen and (max-width: 544px) {
    .main {
        max-width: 288px;
        max-height: 1980px;
    }
    .main__title {
        max-width: 288px;
        max-height: 175px;
        font-size: 32px;
        line-height: 1.1;
    }
    .main__paragraph {
        font-size: 24px;
        max-width: 288px;
        max-height: 390px;
    }
    .main__paragraph_author {
        text-align: right;
        max-width: 288px;
        max-height: 34px;
        margin-top: 0;
    }
    .main__description {
        max-width: 288px;
        max-height: 442px;
        margin-bottom: 38px;
    }
}
